.sub hr {
  display: none;
}

footer {
  padding-top: 3rem;
  min-height: 40vh;
}

h4 {
  font-weight: bolder;
  padding-bottom: 1rem;
}

button {
  background-color: #ef233c;
  color: white;
  border-color: gainsboro;
}

button:hover {
  background-color: #2b2d42;
}

@media only screen and (max-width:875px) {

  .hours {
    display: none;
  }

  .row {
    width: 80%;
    margin: auto;
  }

  .col-3 {
    width: 50%;
  }
}

@media only screen and (max-width:875px) {

  .company {
    width: 30%;
  }
  .sub{
    width: 70%;
  }
}

@media only screen and (max-width:700px) {
  .company {
    width: 30%;
  }
  .sub{
    width: 70%;
  }
}

@media only screen and (max-width:500px){

  .sub hr {
    display:list-item
  }

  .row {
    flex-direction: column;
    align-content: center;
  }

  .col-3 {
    width: 80%;
    margin: 1rem 0rem;
  }
}
