<div class="container">
  <div class="row text-center">
<div class="col-1"></div>
    <div class="col-10 align-self-center">
      <h1>Plan your trip with us</h1>
      <button class="btn unFocused">Contact</button>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="" alt="">
        <h3>Select your car</h3>
        <p>We offer a big variety of vehicles for all your driving needs.</p>
      </div>
      <div class="col-4">
        <img src="" alt="">
        <h3>Customer support</h3>
        <p>We provide 24hrs customer support, who can resolve any question you have</p>
      </div>
      <div class="col-4">
        <img src="" alt="">
        <h3>Safety</h3>
        <p>First, we focus in your safety so we provide a special safe insurance for the driver and passengers</p>
      </div>
    </div>
  </div>
</div>
