<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>Plan your trip with us</h1>
      <button class="btn">Contact</button>
    </div>
    <div class="row">
      <div class="col-3">
        <img src="" alt="">
        <h4>Select your car</h4>
        <p>We offer a big variety of vehicles for all your driving needs.</p>
      </div>
      <div class="col-3">
        <img src="" alt="">
        <h4>Customer support</h4>
        <p>We provide 24hrs customer support, who can resolve any question you have</p>
      </div>
      <div class="col-3">
        <img src="" alt="">
        <h4>Safety</h4>
        <p>First, we focus in your safety so we provide a special safe insurance for the driver and passengers</p>
      </div>
    </div>
  </div>
</div>
