<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h5 class="unFocused">Vehicle Models</h5>
      <p>Our rental fleet</p>
    </div>
    <div class="row table">
      <div class="col-3">
        <div *ngFor="let vehicle of vehicles">
          <button type="button" class="leftSide" (click)="onSelect(vehicle)">{{vehicle.mark}} {{vehicle.model}}</button>
        </div>
      </div>
        <div class="col-6">
          <div *ngIf="selectedVehicle">
            <img class="img-fluid" [src]="selectedVehicle.img" alt="">
          </div>
      </div>
      <div class="col-3">
        <div *ngIf="selectedVehicle">
          <div class="row rightSide priceTag">
            <div class="col">
              <p> <span>{{ selectedVehicle.price }} €‎</span>
                / per day</p>
            </div>
          </div>
          <div class="row rightSide">
            <div class="col-6">
              <p> Mark</p>
            </div>
            <div class="col-6">
              <p> {{ selectedVehicle.mark }} </p>
            </div>
          </div>
          <div class="row rightSide">
            <div class="col-6">
              <p> Model</p>
            </div>
            <div class="col-6">
              <p> {{ selectedVehicle.model }} </p>
            </div>
          </div>
          <div class="row rightSide">
            <div class="col-6">
              <p> Tier </p>
            </div>
            <div class="col-6">
              <p> {{ selectedVehicle.tier }} </p>
            </div>
          </div>
          <div class="row rightSide">
            <div class="col-6">
              <p> Doors</p>
            </div>
            <div class="col-6">
              <p> {{ selectedVehicle.doors }} </p>
            </div>
          </div>
          <div class="row rightSide">
            <div class="col-6">
              <p> Fuel </p>
            </div>
            <div class="col-6">
              <p> {{ selectedVehicle.fuel }} </p>
            </div>
          </div>
          <div class="row rightSide">
            <div class="col-6">
              <p> Trasition </p>
            </div>
            <div class="col-6">
              <p> {{ selectedVehicle.transition }} </p>
            </div>
          </div>
        </div>
        <a href="#book" class="btn">Book now</a>
      </div>
      </div>
    </div>
  </div>
