.container {
  padding-top: 13rem;
}

button {
  width: 40%;
  background-color: #ef233c;
  color: white;
}

button:hover{
  background-color: #2b2d42;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media only screen and (max-width:505px){

button {
  width: 45%;
}

}

@media only screen and (max-width:453px) {

  .buttons {
   flex-direction: column;
  }

  button {
    width: 100%;
    margin-top: 1rem;
  }
}
