<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <div>
      <h1>Rend a car, </h1>
      <h3>quick and easy</h3>
      </div>
      <div style="padding-top: 30px;">
        <p>Choose your type of our variety of vehicles. </p>
      </div>
      <div class="homeBtns">
        <button class="btn btn-lg btn-secondary">Book now</button> |
        <button class="btn btn-lg btn-secondary">Learn more</button>
      </div>
    </div>
    <div class="col-7">
      <img src="../../assets/car-home-page.png" alt="">
    </div>
      <form action="">
        <div class="row align-items-start">
        <div class="col-4">
        <label for="vehicle" class="form-label">Select vehicle:</label>
        <input class="form-control" type="text" name="vehicle" id="vehicle">
      </div>
      <div class="col-4">
        <label class="form-label" for="pick-up">Pick-up:</label>
        <input type="text" class="form-control" id="pick-up">
      </div>
      <div class="col-4">
        <label class="form-label" for="drop-of">Drop-of:</label>
        <input type="text" class="form-control" id="drop-of">
      </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label class="form-label" for="pickUpDate">Pick-up date:</label>
          <input class="form-control" type="text" id="pickUpDate" >
        </div>
        <div class="col-4">
          <label class="form-label" for="dropOfDate">Drop-off date:</label>
          <input class="form-control" type="text" id="dropOfDate">
        </div>
        <div class="col-4">
          <div class="d-grid gap-2">
          <button class="btn btn-primary">Search</button>
        </div>
        </div>
      </div>
      </form>
  </div>
</div>
