
.homepage {
  padding-top: 11rem;
  min-height: 95vh;
}

.col-5 {
  padding-top: 2rem;
}

.homepage h3 span {
  font-weight: bold;
  color:  #d90429;
}

img {
  width: 100%;
}

#book {
  padding-top: 4rem;
  min-height: 40vh;
}

.homeBtns {
  padding-top: 70px;
}

.homeBtns a {
  font-size: 1.4rem;
  padding-right: 20px;
}
.homeBtns :hover {
  color: white;
  background-color: #ef233c ;
}
label {
 color: #d90429;
font-weight: bold;
}

.searchBtn {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  border: none;
  background-color: #d90429;
}

.col-4 button:hover {
  background-color: #2b2d42;
}

@media only screen and (max-width: 993px) {

  .homeBtns {
    padding-top: 10px;
  }

  .homeBtns a {
    font-size: 1.2rem;
    padding-right: 20px;
  }

}

@media only screen and (max-width: 765px) {

  .homepage{
    height: 70vh;
  }

  .homeBtns a {
    font-size: 1rem;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 525px) {
  .col-7 {
    display: none;
  }

  .col-5{
    width: 100%;
    display: grid;
  }

  .homepage {
    display: grid;
    width: 100%;
  }

  .homeBtns a {
    font-size: 1.4rem;
    padding-right: 20px;
  }

}

@media only screen and (max-width: 450px) {
#book {
  display: grid;
}

#book .col-4 {
  width: 90%;
  margin-bottom: 1rem;
  margin: auto;
}
}




@media only screen and (max-width: 280px) {

  .homeBtns a {
    font-size: 1.1rem;
    padding-right: 10px;
  }

}


