.container {
  padding-top: 4rem;
  min-height: 80vh;
  margin-bottom: 3rem;
}
h4{
  font-size: 1.2rem;
  font-weight: bold;
  color: #ef233c;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
}
p {
  font-size: 0.8rem;
  padding-bottom: 2rem;
}

.fqaQue {
  font-size: 1.2rem;
}

.fqaAnswer{
  font-size: 1rem;
  padding-top: 1rem;
}

.mat-expansion-panel-header.mat-expanded:focus .fqaQue{
  color: white;
}

.mat-expansion-panel-header.mat-expanded:focus {
  background-color: #ef233c;
}

.fqas {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width:768px) {

  h4{
    font-size: 1.1rem;
  }

  h2 {
    font-size: 2.1rem;
  }
  p {
    font-size: 0.6rem;
  }

  .fqaQue {
    font-size: 1.1rem;
  }

}

@media only screen and (max-width:768px){

.container {
  padding-top: 8rem;
}

.fqaAnswer{
  font-size: 0.9rem;
}

}

@media only screen and (max-width:395px) {

  h4{
    font-size: 1rem;
  }

  h2 {
    font-size: 1.8rem;
  }
  p {
    font-size: 0.6rem;
  }

  .fqaQue {
    font-size: 0.7rem;
  }

}
