<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <a class="navbar-brand" routerLink="/">CarRendal
  <img src="../../assets/car-logo.png" width="40" height="30" alt=""></a>
  </nav>
<div class="container">
  <div class="row justify-content-center info">
    <div class="col-6">
      <h4>Contact us</h4>
      <hr>
      <p style="padding-bottom: 1rem;">We are ready to answer all your questions, as soon as possible</p>
      <p><span>Tel</span>: + 30 6842314581</p>
      <p><span>Email</span>: carrendal@info.com</p>
      <p><span>Address</span>: Big Ben, Alfred 17</p>
    </div>
    <div class="col-4">
      <h4>Working hours</h4>
      <hr>
      <p><span>Mon-Fri</span>: 9:00 AM - 9:00 PM</p>
      <p><span>Sat</span>: 9:00 AM - 5:00 PM</p>
      <p><span>Sunday</span>: Closed</p>
    </div>
  </div>
    <hr>
    <div class="row justify-content-center">
    <div class="col-10">
      <form (ngSubmit)="onSubmit()">
          <label class="form-label" for="name">First name: </label>
          <input class="form-control" type="text" id="name">
          <label class="form-label" for="name">Second name: </label>
          <input class="form-control" type="text" id="name">
          <label class="form-label" for="email">Email: </label>
          <input class="form-control" type="email"id="email">
          <label class="form-label" for="textarea"></label>
          <textarea class="form-control" id="textarea" cols="15" rows="6" placeholder="Enter text"></textarea>
          <div class="buttons">
            <button type="button" class="btn">Sign in</button>
            <button class="btn" (click)="onBack()">Back to home</button>
        </div>
      </form>
    </div>
  </div>
</div>
